# Ignora arquivos gerados

target/
*.war
*.ear
*.jar

# Ignora arquivos de configuração específicos do IDE

.idea/
.project
.classpath
.settings/

# Ignora arquivos de log

*.log

# Ignora arquivos de cache

**/.cache/
**/target/

# Ignora arquivos de teste

**/test/
**/target/test-classes/

# Ignora arquivos específicos do Maven

**/pom.xml.lock
**/.mvn/

# Ignora arquivos específicos do Docker

**/Dockerfile
**/.dockerignore

# Ignora arquivos de documentação

**/doc/

# Ignora arquivos de versionamento

**/.git/

# Ignora arquivos de configuração do servidor

**/server.xml
**/glassfish-web.xml

# Ignora arquivos específicos do Eclipse

**/.settings/org.eclipse.wst.common.component

# Ignora arquivos específicos do IntelliJ IDEA

**/.idea/workspace.xml

# Ignora arquivos de configuração do SonarQube

**/sonar-project.properties

# Ignora arquivos de cobertura de código

**/coverage/

# Ignora arquivos específicos do Spring Boot

**/spring-boot-admin.properties
**/spring-boot-actuator.properties

# Ignora arquivos específicos do Hibernate

**/hibernate.cfg.xml

# Ignora arquivos de configuração do Tomcat

**/tomcat-users.xml

# Ignora arquivos específicos do WildFly

**/standalone.xml

# Ignora arquivos de configuração do GlassFish

**/domain.xml

# Ignora arquivos específicos do Payara

**/glassfish-web.xml

# Ignora arquivos específicos do Arquillian

**/arquillian.xml

# Ignora arquivos específicos do JUnit

**/junit.properties

# Ignora arquivos específicos do Mockito

**/mockito-extensions/

# Ignora arquivos específicos do TestNG

**/testng.xml